<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>ReForm</title>

  
  <link rel="stylesheet" href="/css/ary.css">
  <script src="/js/typing.js" defer></script>
  <script src="/js/therapist.js" defer></script>
 

  


  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" /> 

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container d-block">
          <div class="main_nav_menu">
            <div class="fk_width">
              <div class="custom_menu-btn">
                <button onclick="openNav()">
                  <span class="s-1"> </span>
                  <span class="s-2"> </span>
                  <span class="s-3"> </span>
                </button>
              </div>
              <div id="myNav" class="overlay">
                <div class="overlay-content">
                  <a class="" href="index.html">Home <span class="sr-only">(current)</span></a>
                  <a class="" href="about.html">About </a>
                  <a class="" href="gallery.html">Gallery </a>
                  <a class="" href="blog.html">Blog </a>
                  <a class="" href="testimonial.html">Testimonial </a>
                </div>
              </div>
            </div>
            <a class="navbar-brand" href="index.html">
              <span>
                ReForm
              </span>
            </a>
            <div class="user_option">
              <a href="#">
                login
              </a>
              <form class="form-inline ">
                <button class="btn  nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <!-- slider section -->
    <section id="slider-trans" class=" slider_section position-relative">
      <div class="container-fluid">
        <div class="row slider-row">
          <div class="col-lg-3 offset-lg-1">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="detail-box">
                    <h1>
                      Your Mental <br />
                      Guide
                    </h1>
                    <p>
                      We are committed to make the sufferings go away
                    </p>
                    <div>
                      <a href="#">
                        Reach Us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="detail-box">
                    <h1>
                      Re <br />
                      Form
                    </h1>
                    <p>
                      We Provide mental support for people suffering with mental causes.
                    </p>
                    <div>
                      <a href="#">
                        Take Quiz
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel_control-box">
                <div class="carousel_btn-container">
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active li_one">01</li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1" class="li_two">02</li>
                  <li class="ol_design"></li>
                </ol>
              </div>
            </div>
          </div>
          <div class="col-lg-4 px-0 ml-auto">
            <div class="img-box">
              <img id="fade-in-image" src="/images/mainpage.png"   alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- Type writing Here begins -->
  <br><br><br><br>
  <div id="typing-effect">
    <h1>Life is <span></span></h1>
  </div>

<br><br><br><br>
<br><br><br><br><br><br><br>

<div id="therapist-head">
  <p>Our Therapists
  </p>
</div>

<!-- Adding In the Therapist Cards  -->
<br>

  

<div id="therapist-card">
  <div class="wrap">
    <div class="box">
      <div class="box-top">
        <img class="box-image" src="https://plus.unsplash.com/premium_photo-1661764878654-3d0fc2eefcca?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGRvY3RvcnxlbnwwfHwwfHx8MA%3D%3D" alt="Girl Eating Pizza">
        <div class="title-flex">
          <h3 class="box-title">Kelsie Meyer</h3>
          <p class="user-follow-info">17 Sessions Last Week</p>
        </div>
        <p class="description">Exploring therapy options. Can we arrange an appointment to discuss your mental health journey</p>
      </div>
      <a href="#" class="button">Book a Session with Kelsie</a>
    </div>
    <div class="box">
      <div class="box-top">
        <img class="box-image" src="https://media.istockphoto.com/id/1390000431/photo/shot-of-a-mature-doctor-using-a-digital-tablet-in-a-modern-hospital.webp?b=1&s=170667a&w=0&k=20&c=Jxhk_KZSo9oSZ01Nv8TxjCKKEVZQJFVWICZb64AEIMQ=" alt="Girl Eating Pizza">
        <div class="title-flex">
          <h3 class="box-title">Mark Carusso</h3>
          <p class="user-follow-info">33 Sessions Last Week</p>
        </div>
        <p class="description">Considering therapy. Could we schedule an appointment to address your mental well-being?</p>
      </div>
      <a href="#" class="button">Book a Session with Mark</a>
    </div>
    <div class="box">
      <div class="box-top">
        <img class="box-image" src="https://images.unsplash.com/photo-1559839734-2b71ea197ec2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGRvY3RvcnxlbnwwfHwwfHx8MA%3D%3D" alt="Girl Eating Pizza">
        <div class="title-flex">
          <h3 class="box-title">Taylor Green</h3>
          <p class="user-follow-info">26 Sessions Last Week</p>
        </div>
        <p class="description">Contemplating therapy sessions. Can we set up an appointment to discuss your concerns?</p>
      </div>
      <a href="#" class="button">Book a Session with Taylor</a>
    </div>
    <div class="box">
      <div class="box-top">
        <img class="box-image" src="https://media.istockphoto.com/id/1494324933/photo/portrait-of-asian-chinese-mixed-race-senior-mature-man-doctor-in-collared-business-shirt.webp?b=1&s=170667a&w=0&k=20&c=AQn0qlSIbjun7Qs0nCAnMs4pfOYGysAyL0j6KuuvhJU=" alt="Girl Eating Pizza">
        <div class="title-flex">
          <h3 class="box-title">Isaiah Jian</h3>
          <p class="user-follow-info">12 Sessions Last Week</p>
        </div>
        <p class="description">Interested in therapy support. Are you open for an appointment to address your mental health?</p>
      </div>
      <a href="#" class="button">Book a Session with Isaiah</a>
    </div>
  </div>
</div>
<br><br><br><br><br>

<h3 style="text-align: center; font-size: 65px;">What We Offer?</h3>
<br>
<br>

<!-- Adding another slider  -->
<div class="pictures-do">
  <img src="/images/heal graphic.png" width="600px" alt="">
<div class="pic-ctn" style="margin-top: 100px;">
  <img src="" alt="">

  <style>

.picture-do{
  display: inline;
}


@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  
  display: inline;
  height: 200px;
  position: absolute;
  width: 90vw;
  height: 300px;
 
  
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  right: calc(48% - 100px);
  
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}
  </style>
  
  <img src="https://images.unsplash.com/photo-1710185220451-53c7a9b00a78?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="600px" alt="" class="pic">
  <img src="https://images.unsplash.com/photo-1709490893793-0947fe525f01?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="600px" alt="" class="pic">
  <img src="https://images.unsplash.com/photo-1683009427619-a1a11b799e05?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="600px" alt="" class="pic">
  <img src="https://images.unsplash.com/photo-1708791416184-fe5f5ed40bad?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="600px" alt="" class="pic">
  <img src="https://images.unsplash.com/photo-1707343848655-a196bfe88861?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="600px" alt="" class="pic">
</div>

</div>


<br><br><br><br><br>
<h2 style="text-align: center; font-size: 100px">What People Has to Say?</h2>




<!-- Adding the Testimonials -->
<div class="outerdiv">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');



.outerdiv
{

  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Semi Condensed', sans-serif;

	width: 100%;
    min-height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    zoom:140%
} 
.innerdiv
{
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
}
.eachdiv
{
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: white
}
.div1
{
	background: #733FC8;
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 25rem;
   
}
.div2
{
	background:#49556B;
    grid-column: 3/4;
    grid-row: 1/2;
}
.div3
{
	background: white;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}
.div4
{
	background: white;
	grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}
.div5
{
	background: #18202D;
	grid-column: 2/4;
    grid-row: 2/3;
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}
.review h4
{
	font-size: 1.4rem;
	color: #F3DEFF;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#4B5258;
}
.review p
{
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}

@media only screen and (max-width: 1000px)
{
	.innerdiv
	{
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 800px)
{
	.innerdiv
	{
		transform: scale(0.6);
	}
}
@media only screen and (max-width: 600px)
{
	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
	.attribution
	{
		position: relative;
	}
}
  </style>
  <div class="innerdiv">
    <!-- div1 -->
    <div class="div1 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-daniel.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name">Daniel Clifford</p>
          <p class="designation">Verified Graduate</p>
        </div>
      </div>
      <div class="review">
        <h4>I received a job offer mid-course, and the subjects I learned were current, if not more so, in the company I joined. I honestly feel I got every penny’s worth.</h4>
      <p>“ I was an EMT for many years before I joined the bootcamp. I’ve been looking to make a transition and have heard some people who had an amazing experience here. I signed up for the free intro course and found it incredibly fun! I enrolled shortly thereafter. The next 12 weeks was the best - and most grueling - time of my life. Since completing the course, I’ve successfully switched careers, working as a Software Engineer at a VR startup. ”</p>
      </div>
    </div>
    <!-- div2 -->
    <div class="div2 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jonathan.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name">Jonathan Walters</p>
          <p class="designation">Verified Graduate</p>
        </div>
      </div>
      <div class="review">
        <h4>The team was very supportive and kept me motivated</h4>
      <p>“ I started as a total newbie with virtually no coding skills. I now work as a mobile engineer for a big company. This was one of the best investments I’ve made in myself. ”</p>
      </div>
    </div>
    <!-- div3 -->
    <div class="div3 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-kira.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name dark">Kira Whittle</p>
          <p class="designation dark">Verified Graduate</p>
        </div>
      </div>
      <div class="review dark">
        <h4>Such a life-changing experience. Highly recommended!</h4>
        <p>“ Before joining the bootcamp, I’ve never written a line of code. I needed some structure from professionals who can help me learn programming step by step. I was encouraged to enroll by a former student of theirs who can only say wonderful things about the program. The entire curriculum and staff did not disappoint. They were very hands-on and I never had to wait long for assistance. The agile team project, in particular, was outstanding. It took my learning to the next level in a way that no tutorial could ever have. In fact, I’ve often referred to it during interviews as an example of experience. It certainly helped me land a job as a full-stack 100% recommend! ”</p>
      </div>
    </div>
    <!-- div4 -->
    <div class="div4 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jeanette.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name dark">Jeanette Harmon</p>
          <p class="designation dark">Verified Graduate</p>
        </div>
      </div>
      <div class="review dark">
        <h4>An overall wonderful and rewarding experience</h4>
      <p>“ Thank you for the wonderful experience! I now have a job I really enjoy, and make a good living while doing something I love. ”</p>
      </div>
    </div>
    <!-- div5 -->
    <div class="div5 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-patrick.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name">Patrick Abrams</p>
          <p class="designation">Verified Graduate</p>
        </div>
      </div>
      <div class="review">
        <h4>Awesome teaching support from TAs who did the bootcamp themselves. Getting guidance from them and learning from their experiences was easy.</h4>
      <p>“ The staff seem genuinely concerned about my progress which I find really refreshing. The program gave me the confidence necessary to be able to go out in the world and present myself as a capable junior developer. The standard is above the rest. You will get the personal attention you need from an incredible community of smart and amazing people. ”</p>
      </div>
    </div>
  </div>
</div>
